@media only screen and (max-width:1200px){
  
    .row{padding: 0 2%;}

}

/* from 768 to 1024 */
@media only screen and (max-width:1024px){

    body{font-size: 18px;}
    section{ padding: 60px 0;}


}

/* from 481 to 767 */
@media only screen and (max-width:767px){
    body{ font-size: 17px; }
    section{ padding: 30px 0; }
    .banner-content, .row { padding: 0 4%; }
    .col { width: 100%; }

}


/* from 0 to 480 */
@media only screen and (max-width:480px){

    .banner {
        height: 200px;
        width: 100%;
        
        opacity: 1;
    }

    .valuesContainer{
    display: block;
    }
    section{ padding: 25px 0; }

    .nav{
         display: block; 
         /* position: fixed;
         top: 0;
         left: 0; */
    }

    .mob_nav{
        display: block; 
         width: 100%; 
        /* border: 2px solid blue; */
        position: sticky;
    }

    .mob_logo{
         width: 70%;
        float: left; 
         /* display: inline;  */
    }
    

    .main-nav{
        display: none;
        float: right;
        width: 100%;
        text-align: center;
        /* height: 300px; */
        position: relative;
    }

    .mob_main-nav li{
        display: block;
        margin-bottom: 10px;

    }

    .moblieBar{
        display: block;
        /* border: 2px solid blue; */
        float: right;
        width: 30%; 
        /* margin-bottom: 30%;  */
        text-align: right;
        cursor: pointer;
    }

    .moblieBar{
        font-size: 40px;
        cursor: pointer;
    }

   

    .main-nav li {
        /* display: flex;
        flex-direction: column; */
        /* display: block;
        color: black; */
    }

    .fix{
        display: table;
    }

    
    h1 {
    /* color: #ffffff; */
    word-spacing: 4px;
    font-weight: 150;
    /* border: 2px solid blue; */
    
    }

    .cross span::before{
       
        margin-right: 10px;
    }
    
    .cross span::after{
        
        margin-left: 5px;
    }

    .icon{
        color: var(--secoundary-color);
        width: 11%;
        height: 100px;
        font-size: 25px;
        float: left;
        padding: 1%;
    }

    .box{
        width: 87%;
        height: auto;
        float: right;
        
    }
    
    .boxCenter{
        margin: 5px;
    }

    .mobli_box{
        width: 100vw;
        height: auto;
        float: left;
        border-bottom: 4px solid var( --indigo);
    }
    
    .picSize{
        width: 100%;
        height: 200px;
    }

    /* about page */
    .about_content{
        width: 100%;
      
    }

    .about_img{
        display: none;
        text-align: justify;
    }

    /* services page */
    .service_container{
        /* the width could be in % unit- 260px */
      width: 100%;
   
    }

    .service_container:not(:nth-child(4n+0)){
        margin-right: 0;
    }

    .service_img{
        width: 100%;
        height: 50%;
      }

      .row{
          border: 2px solid red;
          max-width: 480px;
          margin: 0 auto;
        }
        
      /* gallery */


}