/* body and foundation style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --primary-color: #101d29;
    --secoundary-color: #ff6768;
    --border-color: #dee2e6;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

header,
section,
footer {
    display: block;
}

html,
body {
    background-color: #ffffff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


/* body and foundation style  end*/


/* -----reusable code */

section {
    padding: 80px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.main-nav,
.logo {
    margin: 0;
    font-family: 'Playfair Display', serif ;
}

h1 {
    /* color: #ffffff; */
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-weight: 500;
    line-height: 1.6;
    font-weight: bold;
}

p{
    line-height: 1.4;
    /* margin: 5px; */
    /* font-weight: 400; */
}




.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

.clearfix {
    display: table;
    content: " ";
    clear: both;
    height: 0;
    visibility: hidden;
}

.fix{
    display: none;
}

.headerFont{
    /* font-weight: bold; */
    position: relative;
    font-size: 40px;
}

.headerFont::after{
    /* font-weight: bold; */
    position: absolute;
    color: var(--secoundary-color);
    content: " ";
    position: absolute;
    height: 7px;
    border-bottom: 5px solid var(--secoundary-color);
    /* border-top: 1px solid var(--secoundary-color); */
    top: 165px;
    left: 300px;
    width: 6px;
}

a{
    text-decoration: none;
}
/* -----reusable code end ----*/


/* header and  banner */

header {
    height: auto;
    width: 100wv;
    position: relative;
    overflow: hidden;
   
}
nav{
    /* display: block;
    position: fixed;
    border: 2px solid yellow;
    width: 100%;
    margin-bottom: 80px;
    z-index: 1; */
}

.nav {
    /* display: block; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* align-content: center; */
    padding: 10px 0;
    border: 2px solid red;
    align-items: center;
    /* -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex; */
    display: flex;
    /* float: left; */
}

.moblieBar{
    display: none;

}
.logo {
    /* float: left; */
    height: auto;
    border: 2px solid red;
    /* width: 100px; */
}

.logoB{
    color: var(--secoundary-color);
    font-weight: bold;
    font-size: 30px;
}

/* .logoN{
    color: var(--secoundary-color);
} */

.logoC{
    display: block;
    font-size: 14px;
    color: var(--primary-color);
}

.main-nav {
    /* float: right; */
    list-style: none;
    border: 2px solid red;
    
}

.main-nav li {
    display: inline-block;
    /* display: none; */
    color: black;
   
}

.main-nav li:not(:last-child){
    margin-right: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
   color: black;
    text-decoration: none;
}

.main-nav li a:hover {
    color: var(--secoundary-color);
     text-decoration: none;
 }

.main-nav li.active a{
    color: var(--secoundary-color);
}
/* .active a{
    color: #ffffff;
} */

.banner {
    background: url(../images/banner.jpg) no-repeat center ;
    display: block;
    /* background-position: center;  */
    height: 400px;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    /* position: relative; */
    overflow: hidden;
    /* opacity: 1; */
}


/* end banner */




/* cross word */
.subtitle{
    margin: 0 0 2em 0;
    line-height: 1;
    /* color: #636e72; */
    /* font-style: italic; */
    /* font-size: 14px; */
    /* word-spacing: 4px; */
    /* border: 2px solid red; */
    /* height: auto; */
}

.cross span{
    position: relative;
    display: inline-block;
}

.cross span::before,
.cross span::after{
    content: " ";
    position: absolute;
    height: 5px;
    border-bottom: 2px solid var(--secoundary-color);
    border-top: 1px solid var(--secoundary-color);
    top: 10px;
    width: 100px;
    
}

.cross span::before{
    right: 100%;
    margin-right: 15px;
}

.cross span::after{
    left: 100%;
    margin-left: 15px;
}
 /* end cross word */

/* about us */

.aboutus {
    
}

.col h1, h1 {
    color: black;
}

.col p {
    
}

/* end about us  */



/* values section */

.valuesContent{
   display: flex;
   /* align-items: center; */
    position: relative;
    width: 100%;
    /* flex-direction: column; */
    font-family: inherit;
    /* border: 2px solid yellow; */
   /* position: relative; */
   
}

.valuesContent:not(:last-child){
    margin-bottom: 20px;
}

.icon{
    color: var(--secoundary-color);
    width: 11%;
    height: 100px;
    font-size: 40px;
    float: left;
    /* border: 2px solid red; */
    padding: 1%;
}

.box{
    width: 87%;
    height: auto;
    float: right;
    /* border: 2px solid red; */
    /* padding: 5px; */
}


.valuesContainer{
    background-color: rgb(214, 236, 253, 0.2);
    /* border: 2px solid blue; */
    width: auto;
    /* display: block; */
    /* position: relative; */
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.picSize {
    width: 100%;
    height: 500px;
}

.offCol{
    padding: 0;
    margin: 0 !important;
}

.offCol2{
    /* padding: 0; */
    /* margin: 2% 5px !important; */
}

/* values section end */


/* about */

.banner_template {
    background: url(../images/banner.jpg) no-repeat center;
    display: block;
    /* background-position: center;  */
    height: 250px;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    overflow: hidden;
    /* background-attachment: fixed; */
    /* background: #000; */
    /* opacity: 0.3; */
    z-index: 0;
    
}

.banner_template::before,
.box2::before{
    content: "";
    background: rgba(6, 14, 21, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 100%;
    
}



.page_name{
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    /* border: 2px solid blue; */
    width: 1140px;
    text-align: center;
    
}

.about, col,.about_img,.about_container,.about_content, .service_container,.row{
    /* border: 2px solid blue; */
}

.child, .services{
    border: 2px solid rgb(231, 69, 110);
}

.about_container{
    width: 100%;
    height: auto;
    overflow: hidden;
   
}

.about_content{
    width: 58%;
    height: auto;
    float: left;
    padding: 10px 10px 10px 20px;
}

.about_img {
    width: 40%;
    height: auto;
    float: right;
    padding: 10px 0 0 0;
}

.about_container .about_img img {
    width: 100%;
    height: auto;
    border-radius: 30px 0 0 30px;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    -ms-border-radius: 30px 0 0 30px;
    -o-border-radius: 30px 0 0 30px;
}

.about_header{
    text-align: center;
}


/* end of about */


/* services  */
.service{
    
   
}

.service_container{
  width: 32%; 
  height: auto;
  float: left;
  /* margin-right: 20px; */
}

.service_container:not(:last-child){
    margin-right: 22.5px;
}

.service_img{
  width: 100%;
}

.service_img img{
    width: 100%;
}

.service_contents{
    align-items: center;
    text-align: center;
}

.service_{
    margin-bottom: 40px;
}
/* end services */

/* contact us */
.contactBox{
    padding-left: 10px;
    /* display: flex;
    flex-direction: column; */
    /* align-items: space-between; */

}
input[type=text]{
    height: 40px;
}

textarea{
height: 150px;
}

input[type=text],
textarea{
 
    width: 400px;
    margin-bottom: 20px;
    border: 2px solid var(--gray);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 18px;
}

input[placeholder],
textarea{
    padding-left: 10px;

}

input[type=Submit]{
    width: 200px;
    height: auto;
    padding: 10px;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
    background: var(--secoundary-color);
    color: var(--white);

}
input[type=Submit]:hover{
    cursor: pointer;
    background: var(--primary-color);
    color: var(--white);
}
.box2{
    background: url(../images/c2.jpg) no-repeat center;
    padding: 0;
    height: 470px;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    overflow: hidden;
    /* background-attachment: fixed; */
    /* background: #000; */
    /* opacity: 0.3; */
    z-index: 0;
    color: #ffffff;
    
}


/* end contact us */

/* footer */

footer {
    margin: 10px 0 0 0;
    /* border: 2px solid blue; */
    background-color: var(--primary-color);
    background: var(-primary-color);
    color: #ffffff;
    padding: 10px;
    /* position: absolute; */
    /* top: 100%; */
    /* bottom: 0;
    width: 100%; */
}

.center {
    text-align: center;
}




/* end footer */